.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.header{
  width: 100%;
  background: rgba(167, 22, 102, 0.90);
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 24px;
  color: #ffffff;
  font-size: 32px;
}


.content {
  background: #F1F5F9;
  padding: 32px 24px 150px 24px;
  height: calc(100vh - 124px);
  overflow: scroll;
  @media (min-width: 1200px){
    height:calc(100vh - 124px - 118px);
  }
}

.wrapperText {
  @media (min-width: 1200px){
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}

.textError {
  color:red;
}
.content::-webkit-scrollbar {
  display: none;
}

.footer { 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right:0px;
  background:#F1F5F9;
  z-index: 4;
  padding: 24px;
  border-top: 1px solid #ededed;
  @media (min-width: 1200px){
   position: static;
   bottom: unset;
   left: unset;
   right:unset;
  }
}

.btn {
  background: #A71666;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 24px;
  border: none;
  width: 100%;
  border-radius: 8px;
  @media (min-width: 1200px){
   width: 800px;
   }
}